{% extends "base.html" %} {% block content %}
<h1 class="mt-5">Blog Posts</h1>
<a href="/create" class="btn btn-primary mb-3">Create New Post</a>
{% for post in posts %}
<div class="card mb-3">
  {% if post.post_image %}
  <img
    class="img-thumbnail"
    src="{{post.post_image}}"
    alt="{{ post.title }}"
    style="max-width: 100px"
  />
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content | truncate(150) }}</p>
    <a href="/post/{{ post.doc_id }}" class="btn btn-secondary">Read More</a>
  </div>
</div>
{% endfor %} {% endblock %}
