{% extends "base.html" %} {% block content %}
<h1 class="mt-5">Log In</h1>
{% if login_error %}
<div>{{ login_error }}</div>
{% endif %}
<form method="POST" action="/login" novalidate>
  {{ form.csrf_token }}
  <div class="form-group">
    {% if form.errors.username %} {{ form.username.label }} {{
    form.username(size=20, class_="form-control is-invalid")}} {% for error in
    form.errors.username %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %} {% else %} {{ form.username.label }} {{ form.username(size=20,
    class_="form-control")}} {% endif %}
  </div>
  <div class="form-group">
    {% if form.errors.password %} {{ form.password.label }} {{
    form.password(size=20, class_="form-control is-invalid")}} {% for error in
    form.errors.password %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %} {% else %} {{ form.password.label }} {{ form.password(size=20,
    class_="form-control")}} {% endif %}
  </div>
  <div class="form-group">
    <input type="submit" name="submit" value="Log In" class="btn btn-primary" />
  </div>
</form>
<p>
  <a class="link-opacity-75 text-decoration-none" href="/signup">Sign Up</a>
</p>
{% endblock %}
