blinker==1.9.0
boto3==1.42.63
botocore==1.42.63
captcha==0.7.1
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
Flask==3.1.2
Flask-captcha2==3.1.0
flask-dynamo==0.1.2
flask-simple-captcha==5.5.5
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
pillow==12.1.1
PyJWT==2.11.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
urllib3==2.6.3
Werkzeug==3.1.6
